body{
    background-color: rgb(30, 30, 30);
    color: rgb(0, 179, 255);
    font-size: larger;
}

table{
    margin: auto;
    border-collapse: collapse;
    border: 5px solid white;
}

table th, table td{
    border: 2px solid white;
    padding: 5px 15px;
    text-align: center;
}